* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #2E3134;
}

.profile {
    width: 40%;
    margin: auto;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    border-radius: 14px;
    padding-top: 2%;
    background-color: #3C4043;
}

.university, .majority {
    font-size: 25px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}

hr {
    width: 95%;
    color: #fff;
    margin: 10px auto;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 10%;
}

.tabel {
    display: inline-block;
}

table.body, td.b {
    border: 1px solid #fff;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}

td {
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
}

.bio {
    width: 60%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-top: 5%;
}

p {
    color: #fff;
    width: 90%;
    font-size: 15px;
    word-wrap: break-word;
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 10px;
}

.social {
    margin-top: 3%;
    margin-left: 5%;
    padding-bottom: 20px;
}

.t-social {
    width: 30%;
}

a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
}